Package: com.maximehip.smog
Name: Smog
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: maximehip
Author: maximehip
Section: Tweaks
